[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1
[submodule "lib/m-extensions"]
	path = lib/m-extensions
	url = https://github.com/m0-foundation/m-extensions
	branch = feat/add-hooks-to-components
[submodule "lib/evm-m-extensions"]
	path = lib/evm-m-extensions
	url = https://github.com/m0-foundation/evm-m-extensions
